@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
header{
  font-family: 'Montserrat', sans-serif;
  color:#1e1e1e;
  text-align:right;
  padding:10px;

}
.title{
  font-size:30px;
  font-weight:300;
  color:#919191;
}
h1{
  font-style:italic;
  font-size:60px
}
p{
  font-weight: 900;
  font-size:25px;
  color:#919191;
}
section{
  margin-bottom:30px;
  padding:20px;
}
h2{
  border-bottom: 1px solid #919191;
  margin-bottom:30px;
}
.contents-wrap{
  overflow:hidden;
  
}
.left{
  color:#1e1e1e;
  float:left;
  font-size:22px;
  font-weight:600;
  
}
.right{
  color:#1e1e1e;
  float:right;
   font-size:22px;
   font-weight:600;
}

.content-title{
  font-size:20px;
  line-height: 50px;
  color:#919191;
}
.content-components{
  font-size:20px;
  padding-left:20px;
  color:#919191;
}
footer{
  text-align:center;
  background-color:#1e1e1e;
}
