@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body{
  background-color: #DBDBDB;
}
p{
  margin:0;
  padding:0;
}
a{
  text-decoration: none;
}
.contents-login{
  width:350px;
  height:140px;
  margin:300px auto;
  text-align:center;
  border-radius: 5px;
  border:1px soild #DBDBDB;
  background-color: #FFFFFF;
}
.blind{
  display:none;
}
.txt- {
  position:relative;
  top:19px;
  left:16px;
  font-family: 'SpoqaHanSansNeo-Regular';
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;

}
.btn-login{
  position:relative;
  top:35px;
   background-color: #711BFF;
   border-radius:4px;
   width:318px;
   height:40px;
  

}
.btn_wrapper{
  margin:0 auto;
  position: relative;
  left:90px;
  
}
.img-wenivlogo{
  float:left;
  width:80px;
  height:18px;
  
}
.txt-login{
  font-family: 'SpoqaHanSansNeo-Regular';
  font-weight: 500;
  font-size: 15px;
  float:left;
  color: #FFFFFF;

}
.login-bar{
  position:relative;
  top:45px;
  left:16px;
  text-align:left;
}
.icon_lock{
  
  vertical-align:sub;
}
.find_id{
  font-family: 'SpoqaHanSansNeo-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #767676;
}
.icon_user{
 
  vertical-align: sub;
  position:relative;
  left:110px;
}
.find_pw{
  border-left:1px solid #767676;
  font-family: 'SpoqaHanSansNeo-Regular';
  font-weight: 400;
  font-size: 12px;
  color: #767676;
  position:relative;
  left:10px;
  padding-left:10px;
}
.sign-up{
  font-family: 'SpoqaHanSansNeo-Regular';
  font-weight: 400;
  font-size: 12px;
  color: #767676;
  position:relative;
  left:110px;

}